/* Resetting default styles and setting up a basic styling for the page */
body {
  color: #f2f2f2;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Styling for elements with the class "with-background" */

.with-background {
  background-image: url('https://images.pexels.com/photos/3319726/pexels-photo-3319726.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: 100%;
  background-position: center;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  /* Ensure the background covers the entire element */
}

/* Styling for header section */

.header {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 60px;
}

/* Styling for paragraph inside the header */
.header p {
  /* display: none; /* Display property commented out, can be used if needed */
  box-shadow: 0px 0px 20px -4px;
  color: silver;
  text-align: center;
  width: 80%;
  margin: auto;
  padding: 30px;
  font-size: larger;
  font-family: math;
  margin-bottom: 31px;
  border-radius: 5px;
}

.header h1 {
  padding: 74px 0 30px 0;
}


.first-span {
  text-decoration: underline;
  box-shadow: 5px 13px 5px 3px #fff;

}

.sec-span {
  color: red;
  font-size: 54px;
  text-decoration: underline;
  box-shadow: 5px 5px 19px 4px;
}

/* Styling for the main content section */
main {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
  justify-content: center;
  margin-block-start: 40px;
}

/* Styling for card elements */

main .card {
  border-radius: 5px;
  width: 400px;
  /* height: 600px; */
}

/* Styling for the search container */

#search-container {
  display: flex;
  justify-content: center;
  margin-right: 101px;
}

/* Styling for the search input */

#search-input {
  position: relative;
  font-size: larger;
  padding: 23px;
  width: 580px;
  margin-right: -115px;
  background: #d5dbe1;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 0px 30px -5px;
}

/* Styling for the search button */

#search-btn {

  position: absolute;
  margin-top: 10px;
  font-size: larger;
  padding: 13px 20px;
  background-color: #1d314e;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

.second-page {
  display: none;
  text-align: center;
}

/* Styling for hover effect on search button */

#search-btn:hover {
  box-shadow: rgb(0 0 0 / 46%) 0px 0px 8px 5px;
  transition: 0.3s;
  background-color: #151e15;
}

/* Styling for card body */

.card-body {
  flex: 1 1 auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Styling for the "Learn more" button */

.btn-info {
  color: #000;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
  width: 100%;
  margin-top: 13px;
}

/* Styling for the events and about sections */

.events-section,
.about-section {
  height: 1px;
  width: 100%;
  margin: 70px 0;
  background: rgb(197, 195, 195);
  display: flex;
  align-items: center;
  justify-content: center;

}

/* Styling for content labels in events and about sections */

.events-section::before {
  content: "EVENT  SPACE";
  margin-top: -4px;
  color: #435356;
  background: white;
  padding: 10px 40px;
  border-radius: 5px;
  font-size: 33px;
  font-family: auto;
  box-shadow: 0px -20px 32px -25px;
}

.about-section::before {
  content: "About Us";
  margin-top: -4px;
  color: #435356;
  background: white;
  padding: 10px 40px;
  border-radius: 5px;
  font-size: 33px;
  font-family: auto;
  box-shadow: 0px 20px 32px -25px;
}

/* Styling for footer section */

footer {
  bottom: 0;
  margin: auto;
  text-align: center;
  padding: 20px;
}

/* Styling for paragraph inside the footer */

footer p {
  font-size: 18px;
  width: 55%;
  margin: auto;
  margin-bottom: 20px;
  font-family: math;
}

/* Styling for images and SVGs 'SVG stands for Scalable Vector Graphics*/

img,
svg {
  vertical-align: middle;
  height: 400px;
  width: 400px;
  margin: auto;
  padding: 18px;
  box-shadow: 0px 0px 31px -9px;
  object-fit: cover;
  border-radius: 5px;
}

img:hover,
svg:hover {
  transform: scale(1.1);
  transition: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.card {
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  /* Ensure the card does not expand when the image is enlarged */
}

main .card {
  border-radius: 5px;
  box-shadow: 0px 0px 31px -9px;
}


/* Styling for "Show More" button when displayed */

.displayBlock {
  margin-top: 15px;
  display: block;
  margin: auto;
  padding: 15px 25px;
  background-color: #1d314e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

/* Styling for hover effect on "Show More" button */

.displayBlock:hover {
  background-color: #151e15;
  box-shadow: rgb(0 0 0 / 46%) 0px 0px 8px 5px;
  transition: 0.3s;
}

.card .flex-column {
  max-height: 80px;
  overflow-y: auto;
  padding-bottom: 5px;
}

.card .flex-column::-webkit-scrollbar {
  width: 8px;
  /* Adjust the width of the scrollbar track */
}

.card .flex-column::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
  width: 4px;
  /* Adjust the width of the scrollbar thumb */
}

/* Styling a tags and hover effect on "#second-page-btn" button */

#second-page-btn button {
  display: inline-block;
  margin: 10px;
  padding: 16px;
  border-radius: 16px;
  background-color: #e9e9e9;
  border-color: #b4e1ea;
  text-transform: capitalize;
  text-decoration: none;
  width: 70%;
}

#second-page-btn button a {
  color: #000;
  text-transform: capitalize;
  text-decoration: none;
}

#second-page-btn button:hover {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
  border-radius: 16px;
}


.media-query .card-img-top {
  height: auto;
  object-fit: cover;
  width: 50%;
}

.description {
  padding: 10px;
  width: 70%;
  margin: auto;
  font-size: 17px;
  font-family: math;
}

#second-page-btn button {
  width: 35%;
  margin: 20px;
}

.card-title {
  padding: 20px;
  font-size: 25px;
}
.history-list {
  margin-top: 30px;
  text-align: center;
}

@media only screen and (max-width: 980px) {
  .header p {
    width: auto;
    font-size: medium;
  }

  #search-input {
    width: 420px;
    margin-right: -100px;
    height: 45px;
    font-size: medium;
  }

  #search-btn {
    padding: 5px;
    font-size: larger;
    margin: 4px;
    width: 90px;
  }
}

@media only screen and (max-width: 880px) {
  .header p {
    font-size: medium;
    width: auto;
  }
}

@media only screen and (max-width: 780px) {
  .header p {
    font-size: medium;
    width: auto;
  }
}

@media only screen and (max-width: 680px) {
  .header p {
    font-size: medium;
    width: auto;
  }
}

@media only screen and (max-width: 580px) {
  .header p {
    font-size: medium;
    width: auto;
  }

  .description {
    width: auto;
  }

  #second-page-btn button {
    margin: 5px;
    width: 50%;
    padding: 5px;
    font-size: small;
  }

  .media-query .card-img-top {
    height: auto;
    object-fit: cover;
    width: 90%;
  }
}

@media only screen and (max-width: 460px) {
  #search-input {
    width: 330px;
    font-size: unset;
    height: 35px;
  } 

  .header p {
    width: 100%;
    font-size: 13px;
  }

  img,
  src {
    width: 100%;
    height: auto;
  }

  .card-body {
    width: 100%;
  }

  main {
    margin: 30px
  }

  main .card {
    width: auto;
  }

  footer p {
    width: 100%;
    padding: 10px;
    font-size: 13px;
  }

  #search-btn {
    width: 70px;
    margin-left: 25px;
    padding: 6px;
    margin-top: 5px;
    font-size: medium;
  }

  .displayBlock {
    border-radius: 15px;
    padding: 10px 20px;
    font-size: small;
  }

.card-img-top {
  height: 60%;
  object-fit: cover;
}

.second-page .card-body h5 {
  padding: 10px;

}
}